@tailwind base;
@tailwind components;
@tailwind utilities;

/* Police globale : Nunito Sans en 400 */
html, body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400; 
  color: #444; 
  background-color: #EEE; 
}

/* Les titres en gras (h1, h2, h3...) en 600 */
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
  color: #1e1e1e; 
}
